            /*Cabeçalho configurações*/
header {
    font-size: 100%;
    background-color: #cc5434; 
    height: 100px; 
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%; 
    background-color: #cc5434; 
    flex-wrap: wrap;
}


.cabecalho-imagem {
    max-width: 100px;
    height: auto; 
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

/* Estilos para links no cabeçalho */
a:hover {
    color: #d4c7c2;
}

.cabecalho-item-menu {
    text-decoration: none;
    font-family: 'Sarala';
    color: #f3e3d3;   
    font-weight: 700;
    font-size: 18px; 
}

/* Media query para dispositivos menores */
@media  (max-width: 768px) {
    .cabecalho {
        flex-direction: column; /* Empilha itens verticalmente em dispositivos menores */
        height: auto; /* Permitir que o cabeçalho cresça conforme necessário */
    }
    
    .cabecalho-menu {
        flex-direction: column; /* Empilha os itens do menu verticalmente */
        gap: 16px; /* Reduz o espaçamento entre os itens do menu */
    }
    
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Conteúdo */
.conteudo {
    font-size: 100%;
    background: linear-gradient(#f3e3d3, #da9970);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Texto e Botão */
.Primeira-parte {
    width: calc(50% - 20px)%;
    padding: 20px;
    text-align: left;
    padding: 10em;
}

.Primeira-parte h1 {
    font-size: 400%; /* Reduzindo o tamanho da fonte */
    margin-bottom: 10px; /* Reduzindo a margem inferior */
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #3c141c;
    padding-top: auto;
}

.Primeira-parte .Botao {
    display: inline-block;
    background-color: #983c24;
    color: white;
    padding: 10px 15px; /* Reduzindo o padding */
    font-size: 1em; /* Reduzindo o tamanho da fonte */
    font-family: 'Sarala';
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px; /* Reduzindo a margem superior */
}

.Primeira-parte .Botao:hover {
    background-color: #c94f31;
}

/* Carrossel */
.carrossel {
    width: calc(50% - 20px);
    max-width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 50px;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.moldura {
    width: 25%;
    height: auto;
}

.container {
    display: flex;
    transition: transform 0.5s ease;
    width: 400%;
}



.container img {
    width: 100%;
    height: 100%;
    
}

/* Media Query para Computadores */
@media screen and (min-width: 768px) {
    .carrossel {
        width: 400px; /* Define o tamanho do carrossel para 400px por 400px */
        max-height: 400px; /* Mantém a altura máxima */
    }
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


        /* Conteudo 2 da página*/

        .quem-somos {
            background-color: #8a392a;
            overflow: hidden;
            text-align: center; /* Alinha todo o conteúdo ao centro */
            padding-top: 110px; /* Adiciona espaço entre o topo da seção e o conteúdo */
        }
        
        .quem-somos h3 {
            font-family: 'inter', sans-serif;
            font-size: 3em;
            color: #da9970;
            line-height: 2;
            margin-bottom: 10px; /* Pequeno espaço abaixo do título */
            text-shadow: 0 0 10px #271002;
        }
        
        .quem-somos p {
            font-family: 'inter', sans-serif;
            font-size: 1.5em;
            color: #f3e3d3;
            line-height: 2;
            margin-bottom: 15px;
            padding-top: 20px; /* Espaçamento acima do texto */
            
        }
        
        .gif {
            float: left;
            margin-right: 20px;
            border-radius: 100px;
            padding: 20px;
            padding-bottom: 50px;
}
        
/*------------------------------------------------------------------------------------------------------------------------------------------------------------*/


            /*RODAPÉ DA PAGINA */
            footer {
                background-color: #380d15;
                color: #f3e3d3;
                padding: 20px;
                text-align: center;
                display: flex;
                justify-content: space-between; /* Distribui os elementos igualmente no espaço disponível */
                align-items: center; /* Centraliza verticalmente os elementos */
            }
            
            .logo {
                max-width: 70px;
                height: auto;
                order: 1; /* Define a ordem dos elementos */
            }
            
            .contato {
                margin-left: auto;
                order: 3; /* Define a ordem dos elementos */
            }
            
            .contato img {
                width: 90px;
                height: auto;
            }
            
            .contato a {
                color: #fff;
                margin: 0 10px;
                text-decoration: none;
            }
            
            .contato a:hover {
                text-decoration: underline;
            }
            
            .copy {
                font-family: 'Sarala';
                margin-top: 10px;
                text-align: center;
                order: 2; /* Define a ordem dos elementos */
            }
            
        .contatenos {
            font-family: 'inter' , sans-serif;
            padding: 10px;
        }
            
